/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Font imports */
@font-face {
    font-family: "Nilland Bold";
    src: url(../fonts/nilland-bold.ttf);
}

@font-face {
    font-family: Nilland;
    src: url(../fonts/nilland.ttf);
}

@font-face {
    font-family: "Nilland Black";
    src: url(../fonts/nilland-black.ttf);
}

@font-face {
    font-family: "Montserrat Regular";
    src: url(../fonts/montserrat-regular.otf);
}

@font-face {
    font-family: "Montserrat Light";
    src: url(../fonts/montserrat-light.otf);
}

/* ProductShow own styles
Mobile version */

body {
    overflow-x: hidden;
    text-align: center;
}

p {
    display: block;
    text-align: justify;
    font-family: "Montserrat Light", sans-serif;
    font-size: 1.1em;
    padding: 0 6vw;
    line-height: 1.3;
}

header {
    width: 100%;
    height: 100vh;
    background: url(../img/bg.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    font-size: 2rem;
    font-family: "Nilland Bold", sans-serif;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 1px transparent;
    text-transform: uppercase;
    line-height: 1.2;
    padding-top: 10px;
}

.header-images > * {
    display: inline-block;
    max-width: 50%;
}

.header-images {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 130px;
    margin-left: 15px;
}

.logo:hover {
    cursor: pointer;
}

.header-hr {
    display: inline-block;
    width: 39%;
    border: 0;
    border-bottom: 2px solid #fff;
}

.menu {
    width: 32px;
    margin-right: 30px;
}

.menu:hover {
    cursor: pointer;
}

.see-more {
    padding: 10px 16px;
    font-size: .5em;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-family: Nilland, sans-serif;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 74vh;
    transition: all ease 0.8s;
}

.see-more:hover {
    background-color: #ef7923;
    border: 2px solid #ef7923;
    color: #fff;
    cursor: pointer;
}

.header-titles {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 32vh;
}

h1 {
    font-size: 1.1em;
}

h2 {
    font-size: .5em;
}

section {
    font-size: 1rem;
    padding-top: 35px;
    padding-bottom: 25px;
}

h3 {
    font-family: "Nilland Black", sans-serif;
    font-size: 1.8em;
    padding-bottom: 20px;
    text-transform: uppercase;
}

h4 {
    font-family: "Montserrat Regular", sans-serif;
    font-size: 1.1em;
    padding: 36px 0 10px 0;
    text-transform: uppercase;
    color: #ef7923;
    font-weight: bold;
}

h5, .number {
    display: inline-block;
}

h5 {
    font-family: "Montserrat Regular", sans-serif;
    font-size: 1.1em;
    color: #ef7923;
    font-weight: bold;
    margin-left: 10px;
}

.number {
    width: 24px;
}

.number-title {
    display: flex;
    align-items: center;
    padding: 27px 0 10px 0;
    position: relative;
    left: 6vw;
}

.orange-inset {
    margin-top: 15px;
    width: 75vw;
}

.mobiles {
    width: 65vw;
    margin-top: 25px;
}

#agency {
    background-color: #f8f8f8;
}

#agency h3 {
    padding-bottom: 20px;
}

#team {
    margin-top: 12px;
}

.social-orange {
    height: 14px;
    margin-left: 5px;
}

td {
    text-align: left;
    padding: 10px;
    line-height: 1.1;
}

h6 {
    font-family: "Montserrat Regular", sans-serif;
    font-size: .8em;
    font-weight: bold;
}

td p {
    font-family: "Montserrat Light", sans-serif;
    font-size: .7em;
    margin-left: -6vw;
    padding-top: 5px;
    padding-bottom: 8px;
}

table {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"] {
    transform: scale(1.5);
    padding: 10px;
}

label {
    font-family: "Montserrat Light", sans-serif;
    font-size: .9em;
}

#contact h3 {
    margin-top: -18px;
}

form[name="contact"] {
    line-height: 1.4;
    text-align: center;
}

.choice {
    text-align: left;
    display: inline-block;
    width: 200px;
}

.fields {
    background-color: #000;
    padding: 20px 0;
    margin-top: 15px;
    line-height: 2;
    width: 90vw;
    margin-left: 5vw;
}

input[type="submit"] {
    padding: 12px 24px;
    font-family: "Montserrat Regular", sans-serif;
    color: #fff;
    font-size: .9em;
    border: 0;
    background-color: #ef7923;
    text-transform: uppercase;
    font-weight: bold;
}

input[type="text"], input[type="email"], textarea {
    border: 2px solid #fff;
}

footer {
    background-color: #ef7923;
    color: #fff;
    line-height: 4;
    padding-bottom: 25px;
}

footer p {
    text-align: center;
    font-size: .75em;
    padding-top: 10px;
}

.footer-hr {
    border: 0;
    border-bottom: 1px solid #fff;
}

.social {
    width: 32px;
    margin-left: 20px;
}

.social-orange:hover, .social:hover {
    cursor: pointer;
}

.not-mobile {
    display: none;
}

/* Tablet version */
@media (min-width: 641px) {
    html {
        font-size: 130%;
    }

    .menu {
        display: none;
    }

    .header-hr {
        width: 37%;
        margin-left: 40px;
    }

    .main-menu {
        margin-top: -22px;
        margin-right: 20px;
        max-width: none;
        width: 101vw;
    }

    .main-menu li {
        display: inline-block;
        font-size: .4em;
    }

    .main-menu li a {
        color: #fff;
        text-shadow: 0 0 1px transparent;
        text-decoration: none;
        font-family: "Montserrat Regular", sans-serif;
        margin-left: 15px;
    }

    .main-menu li a:hover {
        color: #ef7923;
        text-decoration: none;
    }

    .main-menu li a:active {
        color: #fff;
        text-decoration: none;
    }

    li a.active-tab {
        color: #ef7923;
    }

    .iphone5s {
        width: 51vw;
        position: absolute;
        top: 112vh;
        right: 0;
    }

    section {
        font-size: .8rem;
    }

    h3, h4, .orange-inset {
        padding-left: 6vw;
    }

    #product {
        width: 55vw;
    }

    #product p {
        text-align: justify;
    }

    #agency {
        text-align: justify;
    }

    #agency > h3:first-child, #agency > p {
        margin-left: 47vw;
    }

    #agency table {
        display: inline-block;
        margin-left: 25vw;
        font-size: 1.2em;
    }

    td p {
        margin-left: -6vw;
    }

    .mobiles {
        width: 45vw;
        margin-top: -35vh;
        margin-left: 2vw;
    }

    #team {
        margin-top: 3vh;
        margin-left: 40vw;
    }

    #contact h3 {
        padding-left: 0;
    }

    #contact {
        background-image: url(../img/laptop.png);
        background-position: center bottom;
        background-repeat: no-repeat;
        height: 840px;
    }

    .fields {
        width: 30vw;
        margin-left: 36vw;
        margin-top: 180px;
        transform: scale(1.5);
    }

    input[type="submit"] {
        transform: scale(.75);
    }

    .up {
        display: none;
    }

    .not-mobile {
        display: inline-block;
    }
}

/* Desktop version */
@media (min-width: 1025px) {
    html {
        font-size: 100%;
    }

    header {
        font-size: 2.2rem;
    }

    .header-hr {
        width: 130%;
    }

    section {
        text-align: justify;
    }

    .orange-inset {
        width: 40vw;
    }

    .mobiles {
        margin-top: -30vh;
    }

    #agency > h3 {
        margin-top: 50px;
    }

    #agency table {
        position: relative;
        left: 29vw;
        top: -30vh;
    }

    #agency {
        max-height: 730px;
    }

    #team {
        position: relative;
        top: -30vh;
        left: 7vw;
    }

    #contact {
        text-align: center;
    }

    .up {
        display: inline-block;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 0);
        top: 405vh;
    }

    up:hover {
        cursor: pointer;;
    }
}
