/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Font imports */
@font-face {
    font-family: "Nilland Bold";
    src: url(../fonts/nilland-bold.ttf);
}

@font-face {
    font-family: Nilland;
    src: url(../fonts/nilland.ttf);
}

@font-face {
    font-family: "Nilland Black";
    src: url(../fonts/nilland-black.ttf);
}

@font-face {
    font-family: "Montserrat Regular";
    src: url(../fonts/montserrat-regular.otf);
}

@font-face {
    font-family: "Montserrat Light";
    src: url(../fonts/montserrat-light.otf);
}

/* ProductShow own styles
Mobile version */

body {
    text-align: center;
}

p {
    display: block;
    text-align: justify;
    font-family: "Montserrat Light", sans-serif;
    font-size: 1.1em;
    padding: 0 6vw;
    line-height: 1.3;
}

header {
    width: 100%;
    height: 100vh;
    background: url(../img/bg.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    font-size: 2rem;
    font-family: "Nilland Bold", sans-serif;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 1px transparent;
    text-transform: uppercase;
    line-height: 1.2;
    padding-top: 10px;
}

.header-images > * {
    display: inline-block;
    max-width: 50%;
}

.header-images {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 130px;
    margin-left: 15px;
}

.logo:hover {
    cursor: pointer;
}

.header-hr {
    display: inline-block;
    width: 39%;
    border: 0;
    border-bottom: 2px solid #fff;
}

.menu {
    width: 32px;
    margin-right: 30px;
}

.menu:hover {
    cursor: pointer;
}

.see-more {
    padding: 10px 16px;
    font-size: .5em;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-family: Nilland, sans-serif;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 60vh;
    transition: all ease 0.8s;
}

.see-more:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.header-titles {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 32vh;
}

h1 {
    font-size: 1.1em;
}

h2 {
    font-size: .5em;
}

section {
    font-size: 1rem;
    padding-top: 35px;
    padding-bottom: 25px;
}

h3 {
    font-family: "Nilland Black", sans-serif;
    font-size: 1.8em;
    padding-bottom: 20px;
}

h4 {
    font-family: "Montserrat Regular", sans-serif;
    font-size: 1.1em;
    padding: 15px 0;
    text-transform: uppercase;
    color: #ef7923;
    font-weight: bold;
}

h5, .number {
    display: inline-block;
}

h5 {
    font-family: "Montserrat Regular", sans-serif;
    font-size: 1.1em;
    color: #ef7923;
    font-weight: bold;
    margin-left: 10px;
}

.number {
    width: 24px;
}

.number-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

.orange-inset {
    margin-top: 15px;
    width: 75vw;
}

.mobiles {
    width: 65vw;
    margin-top: 25px;
}

#agency {
    background-color: #f8f8f8;
}

#agency h3 {
    margin-top: 30px;
    padding-bottom: 25px;
}

.social-orange {
    height: 14px;
    margin-left: 5px;
}

td {
    text-align: left;
    padding: 10px;
    line-height: 1.1;
}

h6 {
    font-family: "Montserrat Regular", sans-serif;
    font-size: .8em;
    font-weight: bold;
}

td p {
    font-family: "Montserrat Light", sans-serif;
    font-size: .7em;
    margin-left: -6vw;
}

table {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"] {
    transform: scale(2);
    padding: 10px;
}

label {
    font-family: "Montserrat Light", sans-serif;
    font-size: .9em;
}

form[name="contact"] {
    line-height: 1.4;
    text-align: center;
}

.choice {
    text-align: left;
    margin-left: 32vw;
}

.fields {
    background-color: #000;
    padding: 20px 0;
    margin-top: 15px;
    line-height: 2;
}

input[type="submit"] {
    padding: 12px 24px;
    font-family: "Montserrat Regular", sans-serif;
    color: #fff;
    font-size: .9em;
    border: 0;
    background-color: #ef7923;
    text-transform: uppercase;
    font-weight: bold;
}

input[type="text"], input[type="email"], textarea {
    border: 2px solid #fff;
}

footer {
    background-color: #ef7923;
    color: #fff;
    line-height: 4;
    padding-bottom: 25px;
}

footer p {
    text-align: center;
    font-size: .75em;
    padding-top: 10px;
}

.footer-hr {
    border: 0;
    border-bottom: 1px solid #fff;
}

.social {
    width: 32px;
    margin-left: 20px;
}

.social-orange:hover, .social:hover {
    cursor: pointer;
}

/* Tablet version */
@media (min-width: 641px) {

}

/* Desktop version */
@media (min-width: 1025px) {

}
